
h1 {
  text-align: center;
  padding-top: 20%;
}
button {
  position: relative;
  left: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
}
.buttonplustext{
  border-top: 200px black;
}


body {
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}